<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span> Properties
            </h3>
        </header>
        <br />
        <div class="row">
            <pms-properties-view-selector></pms-properties-view-selector>
        </div>
        <pms-properties-card-view [properties]="properties"></pms-properties-card-view>
    </div>
</div>
<!-- <div class="col-md-10">
                <div class="navbar">
                    
                    <cm-filter-textbox class="navbar-right" (changed)="filterChanged($event)"></cm-filter-textbox>
        </div> 
        </div>-->


<!-- <cm-customers-card 
          [customers]="filteredCustomers" 
          [hidden]="displayMode !== displayModeEnum.Card"></cm-customers-card>
    
        <cm-customers-grid 
          [customers]="filteredCustomers" 
          [hidden]="displayMode !== displayModeEnum.Grid"></cm-customers-grid>

        <cm-map *ngIf="filteredCustomers.length" 
            [zoom]="2" 
            [enabled]="displayMode === displayModeEnum.Map" 
            [hidden]="displayMode !== displayModeEnum.Map">
          <cm-map-point 
            *ngFor="let customer of filteredCustomers" 
            [latitude]="customer.latitude" 
            [longitude]="customer.longitude"
            [markerText]="'<h3>' + customer.firstName + ' ' + customer.lastName + '</a></h3>' + customer.city + ', ' + customer.state.name"></cm-map-point>
        </cm-map>

        <cm-pagination
            [totalItems]="totalRecords" 
            [pageSize]="pageSize" 
            (pageChanged)="pageChanged($event)"></cm-pagination> -->

<!-- </div>
</div> -->