<div class="customers view indent">
    <div class="container">
        <div class="header">
            <span>Cars</span>
        </div>

        <div class="properties-panel">
            <div>
                <button mat-button color="primary">
                    <mat-icon>add</mat-icon>
                    <span>Add new car</span>
                </button>
                <pms-properties-view-selector></pms-properties-view-selector>
            </div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>

        <pms-properties-card-view [properties]="cars"></pms-properties-card-view>
    </div>
</div>

<!-- <cm-customers-card 
          [customers]="filteredCustomers" 
          [hidden]="displayMode !== displayModeEnum.Card"></cm-customers-card>
    
        <cm-customers-grid 
          [customers]="filteredCustomers" 
          [hidden]="displayMode !== displayModeEnum.Grid"></cm-customers-grid>

        <cm-map *ngIf="filteredCustomers.length" 
            [zoom]="2" 
            [enabled]="displayMode === displayModeEnum.Map" 
            [hidden]="displayMode !== displayModeEnum.Map">
          <cm-map-point 
            *ngFor="let customer of filteredCustomers" 
            [latitude]="customer.latitude" 
            [longitude]="customer.longitude"
            [markerText]="'<h3>' + customer.firstName + ' ' + customer.lastName + '</a></h3>' + customer.city + ', ' + customer.state.name"></cm-map-point>
        </cm-map>

        <cm-pagination
            [totalItems]="totalRecords" 
            [pageSize]="pageSize" 
            (pageChanged)="pageChanged($event)"></cm-pagination> -->