.table {
    margin-top: 30px;
    margin-bottom: 20px;
}

.general-info {
    margin-left: 20px;
    margin-top: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    label {
        color: dimgray;
    }
    label:first-of-type {
        margin-bottom: 10px;
    }
}