  <div class="container">
      <div class="header">
          <mat-icon>how_to_reg</mat-icon>
          <span>Login</span>
      </div>
      <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)" class="login-form" novalidate>
          <div class="login">
              <div class="row">
                  <mat-form-field>
                      <input matInput placeholder="Enter your email" formControlName="email" required>
                      <mat-error *ngIf="email.invalid">Invalid e-mail</mat-error>
                    </mat-form-field>
              </div>
              <br />
              <div class="row">
                  <mat-form-field>
                      <input type="password" matInput placeholder="Enter your password" formControlName="password" required>
                      <mat-error *ngIf="password.invalid">
                        Invalid password, it should have 6 to 20 symbols, at least 1 digit and no spaces
                      </mat-error>
                    </mat-form-field>
              </div>
              <br />
              <div class="row centered">
                <span matTooltip="Please provide an e-mail and password"
                  [matTooltipDisabled]="loginForm.valid">
                    <button 
                      mat-stroked-button 
                      color="primary" 
                      type="submit" 
                      [disabled]="!loginForm.valid">
                      Login
                    </button>
                  </span>
              </div>
              <br />
              <div class="row demo">
                <span>*For demo/task mode, please use demo@domain.com/demo01 as a login and password</span>
              </div>
              <div class="login-errors">
                  <br />
                  <div class="" *ngIf="loginErrorMessage">
                      <span class="">{{ loginErrorMessage }}</span>
                  </div>
              </div>
          </div>
      </form>
    </div>
      
  </div>