<div class="customers view indent">
    <div class="container">
        <div class="header">
            <span>Cars</span>
        </div>

        <div class="actions-panel">
            <div>
                <button mat-button color="primary">
                        <!--<a routerLink="/customers/0/edit">-->
                    <mat-icon>add</mat-icon>
                    <span>Add new car</span>
                </button>
                <pms-view-selector (viewModeChanged)="changeViewMode($event)"></pms-view-selector>
            </div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" matTooltip="Filter by model, type or city" placeholder="Filter" />
            </mat-form-field>
        </div>
    </div>

    <div [ngSwitch]="selectedViewMode">
        <pms-cars-tile-view *ngSwitchCase="viewMode.Tile" [cars]="filteredCars"></pms-cars-tile-view>
        <pms-cars-table-view *ngSwitchCase="viewMode.Table" [cars]="filteredCars"></pms-cars-table-view>
    </div>

    <pms-pagination></pms-pagination>
</div>

<!-- 
    
        <cm-customers-grid 
          [customers]="filteredCustomers" 
          [hidden]="displayMode !== displayModeEnum.Grid"></cm-customers-grid>

        <cm-map *ngIf="filteredCustomers.length" 
            [zoom]="2" 
            [enabled]="displayMode === displayModeEnum.Map" 
            [hidden]="displayMode !== displayModeEnum.Map">
          <cm-map-point 
            *ngFor="let customer of filteredCustomers" 
            [latitude]="customer.latitude" 
            [longitude]="customer.longitude"
            [markerText]="'<h3>' + customer.firstName + ' ' + customer.lastName + '</a></h3>' + customer.city + ', ' + customer.state.name"></cm-map-point>
        </cm-map>

        <cm-pagination
            [totalItems]="totalRecords" 
            [pageSize]="pageSize" 
            (pageChanged)="pageChanged($event)"></cm-pagination> -->